{% extends 'default/index.html.twig' %}


{% block title %}{% trans %}Add container{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Create a container{% endtrans %}</h1>
</div>
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form(form) }}
{% endblock %}


{% block javascripts %}
<script src="{{ asset('bundles/amdocker/js/add-container.js') }}"></script>
{% endblock %}