{% extends 'default/index.html.twig' %}
{% block title %}{% trans %}Images{% endtrans %}{% endblock %}

{% block content %}
    <table class="table">
        {% for image in images %}
        <tr class="image">
            <td class="repository">{{ image.repository }}</td>
            <td class="tag">{{ image.tag }}</td>
        </tr>
        {% endfor %}
    </table>

    {{ dump(images) }}
{% endblock %}

