{% extends 'default/index.html.twig' %}
{% block title %}{% trans %}Images{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="navbar-form navbar-right">
        <div class="form-group">
            <a href="{{ path('am_docker_container_add') }}" class="btn btn-default">{% trans %}Create a container{% endtrans %}</a>
        </div>
    </div>
    <h1>{% trans %}Images{% endtrans %}</h1>
</div>
<table class="table  table-striped">
    <thead>
        <tr>
            <th>{% trans %}Repository{% endtrans %}</th>
            <th>{% trans %}Tag{% endtrans %}</th>
        </tr>
    </thead>
    {% for image in images %}
    <tr class="image">
        <td class="repository">{{ image.repository }}</td>
        <td class="tag">{{ image.tag }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

