{% extends 'default/index.html.twig' %}
{% block title %}{% trans %}Images{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">

    <h1>{% trans %}LittleShip{% endtrans %} <small>{% trans %}A smart companion for your docker deployments.{% endtrans %}</small></h1>
</div>

{% endblock %}

