.add-delete-form-type .form-group {
  display: table-row;
}
.add-delete-form-type .form-group input,
.add-delete-form-type .form-group .remove-item {
  display: table-cell;
}
.add-delete-form-type .form-group .remove-item {
  margin-left: 10px;
}
.add-delete-form-type + .add-type-button {
  margin-top: 10px;
}
.simple-confirmation-form > .btn {
  display: inline-block;
}
.simple-confirmation-form > form {
  display: inline-block;
}
