.panel-body.code {
  background-color: #333;
  font-family: monospace;
  color: #EFEFEF;
  font-size: 11px;
}
.page-header h1.running .glyphicon {
  color: green;
}
.page-header h1.exited .glyphicon {
  color: orange;
}
.page-header h1 .glyphicon {
  font-size: 25px;
}
